# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=db9e547e-8d04-48f6-b449-e41a0c352b27

    # Set to true to disable all reporting
    B:opt-out=false
}


